---
import BaseLayout from "@/layouts/base.astro";
import Constrain from "@tune/components/ui/constrain.vue"

import Heading from "@/components/ui/heading.vue";
---

<BaseLayout>
  <Constrain>
    <div class="c-page">
      <Heading>
        404 Page not found
      </Heading>
    </div>
  </Constrain>
</BaseLayout>
