---
import BaseLayout from "@/layouts/base.astro";
import PageEvent from "@/components/page-event.vue";
import Styleguide from "@tune/components/ui/styleguide.vue";
import UiDivider from "@/components/ui-divider.vue"
import PageHeader from "@/components/page-header.vue"
import PageCta from "@/components/page-cta.vue"
import PageFeatures from "@/components/page-features.vue"
import PageContent from "@/components/page-content.vue";
import PageFaqs from "@/components/page-faqs.vue";

---

<BaseLayout>

  <PageHeader subtitle="About">

     <div slot="title">
      <h1>
      About us
      </h1>
    </div>
    <div slot="body">
      <p>
        I'm still building out this page😬
      </p>
    </div>

  </PageHeader>
  <PageContent>
    
  </PageContent>
</BaseLayout>