---
import BaseLayout from "@/layouts/base.astro";
import PageEvent from "@/components/page-event.vue";
import Constrain from "@tune/components/ui/constrain.vue"
import PageHeader from "@/components/page-header.vue"

import * as Post from '@tune/content/pages/pitch.mdx';

const Content = Post.Content;
const {title, description} = Post.frontmatter;
---

<BaseLayout title={title} description={description}>
  <PageHeader subtitle="Pitch" size="sm">

     <div slot="title">
      <h1>
      Introducing Tune Event logger
      </h1>
    </div>
    <div slot="body">
      
    </div>

  </PageHeader>

  <Constrain size="sm">
    <div class="c-page">
      <Content />
    </div>
  </Constrain>
</BaseLayout>

<style is:global>
  .c-card {
    margin-bottom:1rem;
  }
</style>