---
import BaseLayout from "@/layouts/base.astro";
import PageEvent from "@/components/page-event.vue";
import Styleguide from "@tune/components/ui/styleguide.vue";
import UiDivider from "@/components/ui-divider.vue"
import PageHeader from "@/components/page-header.vue"
import PageCta from "@/components/page-cta.vue"
import PageFeatures from "@/components/page-features.vue"
import PageContent from "@/components/page-content.vue";
import PageFaqs from "@/components/page-faqs.vue";

import * as Post from '@tune/content/pages/privacy.mdx';

const Content = Post.Content;
const {title, description} = Post.frontmatter;

---

<BaseLayout>

  <PageHeader>

     <div slot="title">
      <h1>
      Privacy Policy
      </h1>
    </div>
    <div slot="body">
      
    </div>

  </PageHeader>
  <PageContent>
    <Content />
  </PageContent>

</BaseLayout>