---
import BaseLayout from "@/layouts/base.astro";
import Constrain from "@tune/components/ui/constrain.vue"

import { getEntry, render } from 'astro:content';

import PageHeader from "@/components/page-header.vue"

const post = await getEntry('pages', 'terms');

const seoTitle = post.data.seoTitle || post.data.description || post.data.title;
const description = post.data.description;
const { Content } = await render(post);
---

<BaseLayout title={seoTitle} description={description}>
  <PageHeader subtitle="Logsnag alternative">

     <div slot="title">
      <h1>
      Tune vs Logsnag
      </h1>
    </div>
    <div slot="body">
      
    </div>

  </PageHeader>
  <Constrain>
    <div class="c-page">
      <Content />
    </div>
  </Constrain>
</BaseLayout>