---
import BaseHead from '@/components/base-head.astro';
import Header from '@/components/app/header.vue';
import BaseLayout from "@/layouts/base.astro";
import PageEvent from "@/components/page-event.vue";
import Constrain from "@tune/components/ui/constrain.vue"

import * as Post from '@tune/content/pages/vs-slack-telegram-discord.mdx';
const {title, description} = Post.frontmatter;
const Content = Post.Content;
---

<BaseLayout title={title} description={description}>
  <Constrain>
    <div class="c-page">
      <Content />
    </div>
  </Constrain>
</BaseLayout>