---
import BaseLayout from "@/layouts/base.astro";
import PageEvent from "@/components/page-event.vue";
import Styleguide from "@tune/components/ui/styleguide.vue";
import UiDivider from "@/components/ui-divider.vue"
import PageHeader from "@/components/page-header.vue"
import PageCta from "@/components/page-cta.vue"
import PageFeatures from "@/components/page-features.vue"
import PageContent from "@/components/page-content.vue";
import PageFaqs from "@/components/page-faqs.vue";

import Constrain from "@tune/components/ui/constrain.vue";
import Playground from "@tune/components/playground/index.vue";

---

<BaseLayout>

  <PageHeader subtitle="Integrations / Wordpress plugin">

     <div slot="title">
      <h1>
        Wordpress plugin for Tune
      </h1>
    </div>
    <div slot="body">
    	<p class="article-text">
      Use our Wordpress plugin and track events across your wp-admin
      </p>
      <a href="https://wordpress.org/plugins/tune/" target="_blank" class="btn btn-primary btn-fancy">
        <span>
        Tune Wordpress plugin
        </span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12ZM16 9C16 8.44772 15.5523 8 15 8H10C9.44771 8 9 8.44772 9 9C9 9.55228 9.44771 10 10 10H12.5858L8.29289 14.2929C7.90237 14.6834 7.90237 15.3166 8.29289 15.7071C8.68342 16.0976 9.31658 16.0976 9.70711 15.7071L14 11.4142V14C14 14.5523 14.4477 15 15 15C15.5523 15 16 14.5523 16 14V9Z" fill="currentColor"/>
          </svg>
          
      </a>
    </div>

  </PageHeader>

  <PageContent>
    <h3>
      Setup Tune for Wordpress in 4 easy steps:
    </h3>
    <ul>
      <li>
        Join the waitlist or signup if you've been given access to Tune - or setup a self-hosted instance.
      </li>
      <li>
        Download the Wordpress plugin and install it.
      </li>
      <li>
        Enter the Tune API Key inside your plugin's options page. 
      </li>
      <li>
        No fourth step, enjoy!
      </li>
    </ul>

    <video controls>
      <source src="/images/wordpress/tune-wordpress.mp4" type="video/mp4"></source>
    </video>
  </PageContent>


</BaseLayout>

<style>
  @media screen and (max-width:576px) {
    .c-playground {
      width:calc(100% + var(--margin-lg) * 2);
      margin-left:calc(var(--margin-lg) * -1);
    }
  }
</style>