---
import BaseLayout from "@/layouts/base.astro";
import Constrain from "@tune/components/ui/constrain.vue"
import Toc from "@tune/components/ui/toc.vue";
import headings from "@/lib/get-headings.js";
import PageApi from "@/components/page-api.vue";
---

<BaseLayout>
  <PageApi client:load pathname={Astro.url.pathname} headings={headings}>
    <div class="c-page">
      <h1>
        Welcome
      </h1>

      <h3>
        API Documentation
      </h3>
      <p>
        Learn how to integrate Tune in your product.
      </p>
      <a href="/api/introduction" class="btn btn-primary btn-lg">
        Get started with event tracking.
      </a>

      <br />
      <br />
      
      <h3>
        Further reading
      </h3>
      <p>
        Read the owner's manual to make the most out of event tracking. 
      </p>
      <a href="/manual/introduction" class="btn btn-lg">
        View Owner's manual
      </a>

      <br />
      <br />

      <h3>
        Interested in self-hosting?
      </h3>
      <p>
        Checkout our guides on hosting Tune on your own hardware.
      </p>
      <a href="/selfhosted/introduction" class="btn btn-lg">
        Self hosting guides
      </a>
    </div>
  </PageApi>
</BaseLayout>