---
// @ts-nocheck
import BaseLayout from "@/layouts/base.astro";
import {list, getItems} from "@/content/list.js";
import Prevnext from "@tune/components/ui/prevnext.vue";
import PageUsecase from "@/components/page-usecase.vue";

import { getCollection, getEntry, render } from 'astro:content';

const baseSlug = 'usecases'

const post = await getEntry(baseSlug, Astro.params.slug);
const data = await render(post);
const Content = data.Content;

export const getStaticPaths = async function() {
  let items = [];
  let baseSlug = 'usecases';
  const usecases = await getCollection(baseSlug);

  for(let i = 0; i < usecases.length; i++) {
    const usecase = usecases[i];

    items.push({
      params : {
        slug : usecase.data.slug
      }
    })
  }

  return items;
}

let content = null;


const title = post.data.title;
const description = post.data.description;

---

<BaseLayout title={title} description={description}>

  <PageUsecase data={data} client:load pathname={Astro.url.pathname}>
    <div class="c-page">
      <Content />
    </div>
  </PageUsecase>
</BaseLayout>