---
import BaseLayout from "@/layouts/base.astro";

import Usecases from "@/components/usecases.vue"
import {apiList, manualList, usecasesList} from "@tune/content/list.js";

import PageHeader from "@/components/page-header.vue"
---

<BaseLayout>
  <PageHeader subtitle="">

     <div slot="title">
      <h1>
      Use cases
      </h1>
    </div>
    <div slot="body">
      <p>
        Understand how Tune can help you track key events,<br /> and solve tune problems.
      </p>
    </div>

  </PageHeader>
  <Usecases list={usecasesList}></Usecases>

</BaseLayout>