@font-face {
  font-family: "Jetbrains Mono";
  src: url("/fonts/jetbrains-mono.woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Jetbrains Mono";
//   src: url("/fonts/jetbrains-mono-italic.woff2");
//   font-weight: 100 900;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter4.woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter4italic.woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
