.btn {
  position: relative;
  display: inline-flex;
  height: 38px;
  line-height: 24px;
  padding: 7px var(--spacer-sm);
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-4);
  border: var(--color-bg-4) solid 1px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  color: var(--color-font);

  border-radius: var(--input-radius);

  transition: all 120ms linear;

  /* Button/Default */
  box-shadow:
    inset 0 -1px 1px 0 rgba(0, 0, 0, 0.005),
    inset 0 1px 1px 0 rgba(255, 255, 255, 0.025),
    inset 0 5px 20px 1px rgba(255, 255, 255, 0.025),
    0px 2px 5px 0px rgba(60, 66, 87, 0.08),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0 0 0 1px rgba(0, 0, 0, 0.15);

  > .c-spinner {
    margin-right: var(--margin);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--color-font);
    outline: none;
    border-color: var(--color-primary);
    box-shadow:
      inset 0 -1px 1px 0 rgba(0, 0, 0, 0.005),
      inset 0 1px 1px 0 rgba(255, 255, 255, 0.05),
      inset 0 5px 20px 1px rgba(255, 255, 255, 0.025),
      0px 2px 5px 0px rgba(60, 66, 87, 0.08),
      0px 1px 1px 0px rgba(0, 0, 0, 0.075),
      0 0 0 2px var(--color-focus);
  }

  &.btn-icon {
    gap: var(--margin);

    > svg {
      margin-left: calc(var(--margin) * -1);
    }
  }

  &.btn-transparent {
    background-color: transparent;
    border-radius: 99px;
    border-color: transparent;
    box-shadow: none;

    &:hover,
    &:active {
      border-color: var(--color-bg-2);
      background-color: var(--color-bg-2);
      box-shadow: none;
    }
  }

  &.btn-muted {
    box-shadow: none;
    color: var(--color-font-lighter);

    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      box-shadow:
        inset 0 0px 2px 0 rgba(0, 0, 0, 0.25),
        inset 0 -1px 1px 0 rgba(255, 255, 255, 0.001),
        inset 0 -5px 20px 1px rgba(255, 255, 255, 0.001),
        0px -2px 5px 0px rgba(60, 66, 87, 0.05),
        0px -1px 2px 0px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(0, 0, 0, 0.15);
      color: var(--color-font-lighter);
    }
  }

  &.btn-round {
    border-radius: 99px;
  }

  &.btn-wide {
    width: 100%;
  }

  &.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-font-input);
  }

  &.btn-success {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-font-input);
  }

  &.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-font-input);

    &:hover,
    &:active,
    &:focus-visible {
      //color: var(--color-font);
      //outline: none;
      //border-color: var(--color-primary);
      box-shadow:
        inset 0 -1px 1px 0 rgba(0, 0, 0, 0.005),
        inset 0 1px 1px 0 rgba(255, 255, 255, 0.05),
        inset 0 5px 20px 1px rgba(255, 255, 255, 0.025),
        0px 2px 5px 0px rgba(60, 66, 87, 0.08),
        0px 1px 1px 0px rgba(0, 0, 0, 0.075),
        0 0 0 2px var(--color-focus-danger);
    }
  }

  &[disabled] {
    //background-color: var(--color-bg-4);
    border-color: var(--color-bg-4);
    border-color: transparent;
    pointer-events: none;
    box-shadow:
      inset 0 -1px 1px 0 rgba(0, 0, 0, 0),
      inset 0 1px 1px 0 rgba(255, 255, 255, 0),
      inset 0 5px 20px 1px rgba(255, 255, 255, 0),
      0px 2px 5px 0px rgba(60, 66, 87, 0.08),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0 0 0 1px rgba(0, 0, 0, 0.15);

    &:hover,
    &:active,
    &:focus-visible {
      border-color: transparent;
      box-shadow:
        inset 0 -1px 1px 0 rgba(0, 0, 0, 0),
        inset 0 1px 1px 0 rgba(255, 255, 255, 0),
        inset 0 5px 20px 1px rgba(255, 255, 255, 0),
        0px 2px 5px 0px rgba(60, 66, 87, 0.08),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0 0 0 1px rgba(0, 0, 0, 0.15);
    }
  }

  &.btn-lg {
    height: 44px;
    padding: var(--spacer-sm);
  }

  &.btn-sm {
    height: 32px;
    padding: var(--margin-lg);
    font-size: var(--font-size-sm);
  }

  &:disabled {
    opacity: 0.75;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.btn-fancy {
    height: initial;
    //padding: var(--margin-lg) var(--spacer);
    border-radius: 99px;
    border: none;
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 2px,
      rgba(0, 0, 0, 0.4) 0px 0px 0px 0.5px,
      rgba(0, 0, 0, 0.12) 0px 1px 1px -1px,
      rgba(0, 0, 0, 0.12) 0px 2px 2px -1px,
      rgba(255, 255, 255, 0.06) 0px 0.5px 0px 0px inset,
      rgba(255, 255, 255, 0.16) 0px 0px 1px 0px inset,
      rgba(0, 0, 0, 0.16) 0px -6px 12px -4px inset;

    svg {
      margin-left: var(--margin-lg);
      margin-right: -6px;
    }

    &:hover {
      filter: brightness(125%);
    }

    &:active {
      box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 2px,
        rgba(0, 0, 0, 0.4) 0px 0px 0px 0.5px,
        rgba(0, 0, 0, 0.12) 0px -1px 1px -1px,
        rgba(0, 0, 0, 0.12) 0px -2px 2px -1px,
        rgba(255, 255, 255, 0.06) 0px -0.5px 0px 0px inset,
        rgba(255, 255, 255, 0.16) 0px -0px 1px 0px inset,
        rgba(0, 0, 0, 0.16) 0px 6px 12px -4px inset;
      filter: brightness(125%);
    }
  }
}

.btn-switch {
  display: flex;
  width: 100%;

  .btn {
    flex: 1;
    text-align: center;

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:hover {
      z-index: 1;
    }
  }
}

.c-input {
  margin-bottom: 16px;
  font-size: var(--font-size-sm);

  span[role="alert"] {
    user-select: none;
    display: block;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-warning);
  }
}

/**
 * (C)Leanest CSS spinner ever
 */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-spinner {
  //position: absolute;
  //top: 10px;
  //left: 14px;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  overflow: hidden;

  margin-left: -6px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.form-label {
  user-select: none;
  display: block;
  margin-bottom: 8px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1;
  opacity: 0.85;
}

.form-control {
  width: 100%;
  display: block;
  position: relative;
  -webkit-appearance: none;
  padding: 4px 8px;
  font-size: var(--font-size-sm);
  background-color: var(--color-bg-2);
  //border: var(--color-bg-4) solid 1px;
  border: transparent solid 1px;
  border-radius: var(--input-radius);
  min-height: 38px;
  margin-bottom: 8px;
  color: var(--color-font);

  transition: var(--transition);

  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-focus);
    border-color: var(--color-focus);
  }
}

select.form-control {
  cursor: pointer;

  &:hover {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-focus);
    border-color: var(--color-focus);
  }
}

.c-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  user-select: none;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus {
      outline: none;
    }
  }

  input:checked + .c-switch__slider {
    background-color: var(--color-primary);
  }

  input:focus + .c-switch__slider {
    //box-shadow: 0 0 1px var(--color-primary);
  }

  input:checked + .c-switch__slider .c-switch__toggle {
    transform: translateX(14px);
    color: var(--color-primary);
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-3);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    border-radius: 99px; //var(--input-radius);
  }

  &__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    left: 2px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    transition: 500ms;
    border-radius: 6px;
    color: var(--color-bg-3);
    border-radius: 99px;

    > svg {
      transform: scale(0.6);
    }
  }

  &.round {
    width: 30px;

    input:checked + .c-switch__slider .c-switch__toggle {
      transform: translateX(0);
      color: var(--color-primary);
    }
  }
}

// @media screen and (max-width: 576px) {
//   .btn {
//     height: 42px;
//   }

//   .form-control {
//     min-height: 42px;
//     border-color: var(--color-bg-4);
//   }
// }
