@import "vars";
@import "reset";
@import "type";
@import "fonts";
@import "grid";
@import "form";
@import "globals";
@import "highlight";
@import "table";

@import "nprogress";

:root {
  interpolate-size: allow-keywords;
}

body {
  @include vars();

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-font);
  background-color: var(--color-bg-1);

  @media screen and (max-width: 576px) {
    --input-radius: 6px;

    --font-size-xxxl: 2.25rem;
  }
}

.c-switch {
  width: 40px;
  height: 20px;

  &__toggle {
    left: 2px;
    bottom: 2px;
    width: 16px;
    height: 16px;
  }

  &__slider {
    background-color: var(--color-bg-3);
  }

  input:checked + .c-switch__slider {
    background-color: var(--color-primary);

    .c-switch__toggle {
      transform: translateX(20px);
    }
  }
}

/**
 * Helpers
 */
.color-success {
  color: var(--color-success);
}
.color-warning {
  color: var(--color-warning);
}
.color-danger {
  color: var(--color-danger);
}
.text-center {
  text-align: center;
}

@keyframes hero-gradient-animation {
  0% {
    --x-0: 13%;
    --c-0: hsla(227.64705882352914, 3%, 9%, 0.79);
    --y-0: 82%;
    --s-start-0: 5%;
    --s-end-0: 52%;
  }

  100% {
    --x-0: 45%;
    --c-0: hsla(232.94117647058832, 7%, 18%, 0.88);
    --y-0: 6%;
    --s-start-0: 8.26482712013134%;
    --s-end-0: 123.44094627490942%;
  }
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(227.64705882352914, 3%, 9%, 0.79);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}

@keyframes flash-bg {
  0% {
    box-shadow: 0 0 0 4px hsla(var(--hue-p), 80%, 48%, 0.5);
  }
  50% {
    box-shadow: 0 0 0 4px hsla(var(--hue-p), 80%, 48%, 1);
  }
  100% {
  }
}
