---
import BaseLayout from "@/layouts/base.astro";
import Constrain from "@tune/components/ui/constrain.vue"
import Toc from "@tune/components/ui/toc.vue";
import headings from "@/lib/get-headings.js";
import * as Index from "@tune/content/selfhosted/introduction.mdx";
const Content =Index.Content;



---

<BaseLayout>
  <Constrain size="lg">
    <div slot="sidebar">
      <Toc client:load pathname={Astro.url.pathname} headings={headings}></Toc>
    </div>
    <div slot="default">
      <div class="c-page">
        <Content />
      </div>
    </div>
  </Constrain>
</BaseLayout>